{% extends "base.html" %}

{% block header %}
<div class="inner">
  <h3 class="masthead-brand">Boodschappen vergelijken</h3>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href='{{ url_for("home") }}'>Home</a>
    <a class="nav-link" href='{{ url_for("minor") }}'>S4D Minor</a>
    <a class="nav-link" href='{{ url_for("poster") }}'>Poster</a>
  </nav>
</div>
{% endblock %}

{% block content %}
  <h1 class="cover-heading">Boodschappen</h1>
  <p class="lead">Vul de producten in en kijk bij welke supermarkt je het goedkoopst uit bent.</p>
  <form name="boodschappenlijst" method="post" action="{{ url_for('home') }}">
    <div class="form-group">
      <label for="boodschappenlijst">Boodschappenlijst</label>
      <textarea class="form-control" name="boodschappenlijst" id="boodschappenlijst" rows="7"></textarea>
      <p class="lead">
        <br>
        <input type="Submit" class="btn btn-lg btn-secondary" value="Zoeken"></input>
      </p>
    </div>
  </form>
{{ form.autocomp.label }}: {{ form.autocomp }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#city_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>

{% endblock %}