{% extends "base.html" %}

{% block header %}
<div class="inner">
  <h3 class="masthead-brand">Mieterse Poster</h3>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href='{{ url_for("home") }}'>Home</a>
    <a class="nav-link" href='{{ url_for("minor") }}'>S4D Minor</a>
    <a class="nav-link" href='{{ url_for("poster") }}'>Poster</a>
  </nav>
</div>
{% endblock %}

{% block content %}
  <h1 class="cover-heading">Mooie Poster</h1>
  <p class="lead">Komt nog.</p>
{% endblock %}

{% block footer %}
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Footer</a></p>
  </div>
</footer>
{% endblock %}
